:root {
    /* Cores Principais */
    --cor-primaria-escura: #1c3d5a;
    --cor-destaque-amarela: #f1c40f;
    --cor-destaque-amarela-hover: #d4ac0d;

    /* Cores de Fundo */
    --cor-fundo-claro: #f0f2f5;
    --cor-fundo-footer: #f5f5f5; /* Cor cinza claro do footer da imagem */

    /* Cores de Texto */
    --cor-texto-primario: #212529; /* Preto/Cinza escuro para títulos */
    --cor-texto-secundario: #6c757d; /* Cinza para links */

    /* Outras Cores */
    --cor-verificado: #007ce9;
    --cor-produto-preto: #000;
    --cor-produto-azul: #add8e6;
    --cor-produto-prata: #ccc;
}
