:root {
  /* Cores Principais */
  --cor-primaria-escura: #1C3D5A; /* Azul escuro usado no header e rodapés */
  --cor-destaque-amarela: #F1C40F; /* Amarelo para ícones e botões principais */
  --cor-destaque-amarela-hover: #d4ac0d; /* Tom mais escuro do amarelo para efeito hover */

  /* Cores de Fundo */
  --cor-fundo-claro: #f0f2f5; /* Cinza claro para o fundo de páginas como login/cadastro */
  

  /* Cores Específicas de Produtos */
            --cor-produto-preto: #000;
            --cor-produto-azul: #add8e6;
            --cor-produto-prata: #ccc;
}
