.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: contain;
}
#carrosselMultiplosCards .carousel-control-prev,
#carrosselMultiplosCards .carousel-control-next {
    background-color: white;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    width: 110px;
    height: 110px;
}
#carrosselMultiplosCards .carousel-control-prev {
    left: -50px;

}

#carrosselMultiplosCards .carousel-control-next {
    right: -50px;

}
