/* <!-- Estilo para o hover do CEP --> */

.cep-container a {
    opacity: 0.75;
    transition: opacity 0.2s ease-in-out;
}
.cep-container a:hover {
    opacity: 1;
}

body {
    background-color: #f0f2f5; /* Um cinza claro para o fundo */
}
